.home_welcome{
    -fx-background-color: #6A6657;
    -fx-spacing: 15;
}
.home_welcome Button{
    -fx-background-color: #FFFFFF;
    -fx-font-size: 25px;
}
.home_welcome Button:hover{
    -fx-cursor: hand;
}

.home_welcome FontAwesomeIconView {
    -fx-fill: #ECF39E;
}

.home_welcome_header_bg{
    -fx-background-color: #AEAEAE;
}

.home_welcome_menu_bg{
    -fx-background-color: #D5D5D5;
}