GridPane{
    -fx-background-color: #b5ab72;
    -fx-spacing: 15;
}
AnchorPane{
    -fx-background-color: #b5ab72;
}

.home_welcome Button{
    -fx-background-color: #FFFFFF;
    -fx-font-size: 25px;
    -fx-background-radius: 30 0 30 0;
}
Button:hover{
    -fx-cursor: hand;
}

.login Button{
    -fx-background-color: #587B7F;
    -fx-font-size: 25px;
    -fx-background-radius: 30 30 30 30;
}

.register Button{
    -fx-background-color: #587B7F;
    -fx-font-size: 25px;
    -fx-background-radius: 30 30 30 30;
}
.home_haut  Button{

    -fx-background-color: #587B7F;
    -fx-background-radius: 30 30 30 30;
}
.retourWelcome {
    -fx-background-color: white;
}

.menu Button{
    -fx-background-color: #474747;
    -fx-font-size: 15px;
}

.home_haut {
    -fx-background-color: #474747;
}

.dashboard VBox{
    -fx-border-image-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 20 20 20 20;
}

.scrollPane {
    -fx-background : #b5ab72;
    -fx-border-color: #b5ab72;
}